nav {
    background-color: rgb(25 25 25);
    border-bottom: 1px solid #fbd602;
}

nav .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #fbd602;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
}

.navigation a {
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.navigation div a:hover {
    color: #fbd602;
}