nav {
    background-color: rgb(25 25 25);
    border-bottom: 1px solid #fbd602;
}

nav .container {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-logo {
    color: #fbd602;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
}

.navigation a {
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.navigation a:hover {
    color: #fbd602;
}