nav {
    background-color: rgb(25 25 25);
    border-bottom: 1px solid #fbd602;
}

nav .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #fbd602;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
    z-index: 10;
}

.navigation a {
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.navigation div a:hover {
    color: #fbd602;
}

.hamburger {
    display: none;
    color: #FFF;
    cursor: pointer;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .hamburger {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        background-color: #000;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        font-size: 24px;
        gap: 10px;
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

    .hide {
        transform: translateX(-100%);
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .hamburger {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        background-color: #000;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        font-size: 24px;
        gap: 10px;
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

    .hide {
        transform: translateX(-100%);
    }
}
