a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

h2 {
    font-size: 38px;
}

span {
    color: #fbd602;
}

button {
    padding: 5px 25px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #fbd602;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .container {
        max-width: 325px;
    }

    h2 {
        font-size: 20px;
    }
}
